[flake8]
exclude =
    migrations,
    __pycache__,
    venv,
    .venv

max-line-length = 120

ignore =
    E501,
    E302,
    E301,
    W292,
    W293,
    W291,
    E124,
    E122,
    E131,
    E231,
    E265,
    F401,
    F811,
    E402